<p>meu-primeiro2 works!</p>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam augue dui, luctus at risus quis, rhoncus pharetra
    dui. Ut interdum mauris nec orci dapibus convallis. Mauris fringilla nulla eu odio molestie, eget dictum justo
    blandit. Pellentesque sit amet elit sapien. Ut maximus mauris enim, vitae ornare mi luctus ut. Sed vel lectus
    eleifend, mattis tortor sed, interdum augue. Ut semper sem eget sem lacinia, aliquam egestas ex commodo. Praesent
    faucibus luctus diam vel pulvinar. Cras eget rhoncus neque, ut eleifend mi. Pellentesque eu nunc volutpat, tempor
    orci venenatis, condimentum libero. Mauris viverra eget nisi vitae posuere. Maecenas non dignissim sem. Proin ut
    mauris libero. Proin non dui ultricies, luctus risus non, mattis turpis. Donec non metus non elit dignissim
    venenatis id vel odio.</p>

<app-cursos></app-cursos>