<!--section class="two-way-binding">
    <article>
        <h3>Two-way Data Binding</h3>

        <div>


            <input type="text" [(ngModel)]="nome">

            <p>Você digitou um nome: {{ nome }}</p>



        </div>

        <div class="col-md-6">
            <p>Meu nome é {{ pessoa.nome }} e tenho {{ pessoa.idade }} anos de idade!</p>

            <input type="text" class="form-control" placeholder="digite seu nome" [(ngModel)]="pessoa.nome"><br>
            <input type="text" class="form-control" placeholder="digite sua idade" [(ngModel)]="pessoa.idade">


        </div>

    </article>
</section-->

<section class="input-output-properties">
    <article>
        <h3>Input/ Output Properties</h3>

        
    </article>
</section>

